@import-normalize;

.fileContainer {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.react-tagsinput {
  border-radius: 0.25rem;
}
.bootstrap-toast {
  position: absolute;
  z-index: 10;
  top: 0%;
  right: 0%;
  margin: 10px;
}
.project-preview-description {
  max-height: 264px;
  overflow: auto;
}
.project-container {
  margin: 16px;
  border: none;

  .project-name {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5rem;
  }
  .project-container_first {
    display: flex;
    justify-content: space-around;

    .project-video-container {
      width: 50%;
    }
    .crowdfunding-details {
      width: 40%;
    }
    .payment-buttons-container {
      display: flex;
      flex-direction: column;
      height: 160px;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }
  }
}
.bootstrap-carousel-image {
  height: 620px;
  width: auto;
}
.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.17);
}
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.17);
}
.comment-list {
  height: 320px;
  overflow: auto;
}
.comment-container {
  list-style: none;

  .user-avatar-container {
    display: flex;
    align-items: center;

    .user-avatar {
      width: 60px;
      height: 60px;
    }
  }
  .comment-text {
    padding: 10px;

    .comment-info {
      display: inline-block;
      border-bottom: 1px solid #d7dde2;

      span {
        font-weight: bold;
      }
    }
    p {
      font-size: 15px;
    }
  }
}
.botstrap-spinner-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
  .project-container {
    margin: 5px;

    .project-name {
      margin-bottom: 30px;
    }
    .project-container_first {
      flex-direction: column;
      align-items: center;

      .project-video-container {
        width: 100%;
      }
      .crowdfunding-details {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .bootstrap-carousel-image {
    height: 260px;
  }
  .comment-container {
    margin: 0;

    .user-avatar-container {
      padding: 5px;

      .user-avatar {
        width: 42px;
        height: 42px;
      }
    }
    .comment-text {
      padding: 5px;

      span {
        font-size: 13px;
      }
      time {
        font-size: 13px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 1;
  }
  .project-container {
    margin: 10px;

    .project-name {
      margin-bottom: 30px;
    }
    .project-container_first {
      flex-direction: column;
      align-items: center;

      .project-video-container {
        width: 100%;
      }
      .crowdfunding-details {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .bootstrap-carousel-image {
    height: 360px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    column-count: 2;
  }

  .project-container {
    margin: 10px;

    .project-name {
      margin-bottom: 40px;
    }
    .project-container_first {
      flex-direction: column;
      align-items: center;

      .project-video-container {
        width: 90%;
      }
      .crowdfunding-details {
        width: 90%;
        margin-top: 30px;
      }
    }
  }
  .bootstrap-carousel-image {
    height: 460px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 2;
  }
  .bootstrap-carousel-image {
    height: 560px;
  }
}
