@import-normalize;

.fileContainer {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.bootstrap-toast {
  position: absolute;
  z-index: 10;
  top: 0%;
  right: 0%;
  margin: 10px;
}
.project-preview-description {
  max-height: 264px;
  overflow: auto;
}

@media (max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 2;
  }
}
